<div class="courses">
  <div class="d-flex">
    <div class="filter-block input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter title"
        aria-label="Enter title"
        aria-describedby="basic-addon2"
        [(ngModel)]="searchText"
      />
      <div class="input-group-append">
        <button
          class="btn btn-primary"
          type="button"
          (click)="onSearchCourses()"
        >
          Search
        </button>
      </div>
    </div>
    <button
      class="ml-auto btn btn-primary mb-3"
      type="button"
      (click)="addCourse()"
    >
      Add course
    </button>
  </div>
  <div *ngFor="let course of coursesList">
    <!-- <a [routerLink]="['/courses', course.id]"> -->
    <app-details-course
      [course]="course"
      (deleteCourse)="deleteCourse($event)"
    ></app-details-course>
    <!-- </a> -->
  </div>
</div>
