<div class="card my-4">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-9">
        <div class="d-flex align-items-baseline">
          <h3>{{ course.title }}</h3>
          <div class="text-secondary ml-4">
            {{ course.duration | duration }}
          </div>
          <div class="text-secondary ml-auto">
            {{ course.date | date: 'dd.MM.yyyy' }}
          </div>
        </div>
        <div class="card-text">
          {{ course.description }}
        </div>
      </div>
      <div class="col-sm-3 d-flex flex-column">
        <button
          type="button"
          class="btn btn-primary mb-3"
          (click)="editCourse()"
        >
          Edit
        </button>
        <button type="button" class="btn btn-secondary" (click)="onDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
