<div class="row">
  <div class="col-sm-8">
    <div class="d-flex">
      <div>Video 1</div>
      <div>Duration</div>
      <div class="ml-auto">Date</div>
    </div>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae hic
      laborum voluptatibus sequi cumque accusantium. Voluptates ipsam distinctio
      dolor culpa debitis. Deleniti error eaque iure laborum, ipsa dicta modi
      eveniet?
    </div>
  </div>
  <div class="col-sm-4 d-flex flex-column">
    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-secondary">Delete</button>
  </div>
</div>
